/****************************************************************
							HEADER
 ****************************************************************
.header{
	width:100%;
	display:block;
	border-bottom: 1px solid gray;
	padding-top: 5px;
}
.logo{
	width:30px;
	height:10px;
	display:inline;
}
h1{
	text-align:left;
	font-size:25px;
	display:inline;
}
.header a:link{
	text-decoration: none;
	color: black;
}
.header a:visited{
	text-decoration: none;
	color: black;
}
.button{
	float:right;
}
/****************************************************************
							PAGE LAYOUT
 ****************************************************************/
.restaurantDescription{
	width:500px;
	height: 20px;
	display: block;
	margin-bottom: 20px;
	text-align:center;
	margin: 0 auto 0 auto;
}
.descriptionIcons{
	display: inline-block;
	float: left;
	width: 33%;
	padding-bottom: 20px;
	margin: 0 auto 0 auto;
}
h2{
	text-align:center;
	font-size:30px;
}
#images{
	float: right;
}
#about{
	width: 40%;
	float: left;
	font-size: 20px;
	padding-left: 40px;
}
#media{
	float: left;
	width: 49%;
	text-align: center;
}
ul{
	list-style-type: none;
}
/****************************************************************
							  MAP
 ****************************************************************/
#map_canvas{
    width: 250px;
    height: 250px;
    margin: 0 auto 0 auto;
}
