/****************************************************************
							PAGE LAYOUT
 ****************************************************************/
.content{
	text-align: center;
}
.restaurantDescription{
	width:500px;
	height: 20px;
	display: inline-block;
	margin-bottom: 20px;
}
.descriptionIcons, .filter-icons{
	display: inline-block;
	float: left;
	width: 33%;
	padding-bottom: 20px;
}
input{
	display: block;
	margin: 0 auto 20px auto;
}
button{
	display: block;
	margin: 20px auto 20px auto;
	padding: 5px;
}
#img-wrapper{
    width:100%;
    margin-top: 20px;
    position:relative;
    clear: both;
}
img{
    float:left;
    width:25%;
    height:auto;
}
.cuisine{
	position: relative;
}
.overlay{
	background-color: rgba(1, 1, 1, 0.5);
	position:absolute; 
	top:0; 
	left:0; 
	width:25%;
	color: white;
}
.overlay:hover{
	background-color: rgba(1, 1, 1, 0.0);
}
/****************************************************************
							  MAP
 ****************************************************************/
#map_canvas{
    width: 500px;
    height: 400px;
    margin: 0 auto 20px auto;
}